
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="CSS/styleForm.css">
	<title>Formulario</title>

</head>
<body>
	<form action="Ventas.html"><!-- /action_page.php -->
		<label for="name">Nombre Cliente:</label>
		<input type="text" id="name" name="name" placeholder="Nombre del Cliente...">

		<label for="email" >Email Cliente:</label>
		<input type="emaile" id="email" name="email" placeholder="Email Cliente...">

		<label for="email" >Número Cliente:</label>
		<input type="emaile" id="email" name="email" placeholder="Número Cliente...">

		<label for="message">Dirección Cliente:</label>
		<textarea id="message" name="message" placeholder="Direccion Cliente.."></textarea>

		<input type="submit" value="Enviar">
   </form>
</body>
</html>