{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="CSS/styleForm.css">
	<title>Formulario</title>

</head>
<body>
	<form action="Produccion.html"><!-- /action_page.php -->
		<label for="name">Nombre Producto:</label>
		<input type="text" id="name" name="name" placeholder="Nombre del producto...">

		<label for="email" >Cantidad Producto:</label>
		<input type="emaile" id="email" name="email" placeholder="Cantidad del producto...">

		<label for="message">Lote Producto:</label>
		<textarea id="message" name="message" placeholder="Lote del producto..."></textarea>

		<input type="submit" value="Enviar">
   </form>
</body>
</html>