{% extends 'baselogin.html' %}
  
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h5>CONTROL CALIDAD</h5>

    <form action="" method="post" >
          
        {% csrf_token %}

        {{ FormControlcalidad }}


          <button type="submit", id="btn btn-success", class="button">CREAR</button>
          
      

      </form>

      
</body>


</html>


{% endblock %}